.containerContent{
    background-color: #FAC55B;
    padding-top: 85px;
}
.wrapperContainerContent{
    margin-top: 100px;
    margin-bottom: 100px;
}
.textTagline{
    background-color: #fff;
    color: #0F0A9B;
    width: 197px;
    text-align: center;
    padding: 10px;
    font-family: 'Jost';
    font-size: 40px;
    font-weight: 600;
}
.textTagDesc{
    color: #0F0A9B;
    font-family: 'Jost';
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
}
.cardBlue{
    text-align: center;
    background-color: #0F0A9B;
    padding:20px 50px;
    font-family: 'Jost';
}
.titleCardBlue{
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
}
.titleCopyCardBlue{
    font-weight: 700;
    font-size: 32px;
    color: #FFFFFF;
}
.titleDescCopyCardBlue{
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
}
.button,.button:hover{
    background: #FFFFFF;
    border: 1px solid #E3E3E3;
    border-radius: 5px; 
    font-weight: 500;
    font-size: 14px;
    color: #0F0A9B;
}
.colButtonRight{
    text-align: right;
}
.wrapperButton{
    margin-top: 20px;
    margin-bottom: 20px;
}
.tabsActive,.tabsActive:hover{
    font-family: 'Jost';
    font-weight: 700;
    font-size: 18px;
    color: #0F0A9B;
}
.tabsNonActive,.tabsNonActive:hover{
    font-family: 'Jost';
    font-weight: 700;
    font-size: 18px;
    color: #8A8A8A;
}
.colTabs{
    border-right: 2px #0F0A9B solid;
    height: 40px;
}
.colTabsLeft{
    border-left: 1px rgba(0, 0, 0, 0.11) solid;
}

.titleCardRight{
    font-family: 'Jost';
    font-weight: 700;
    font-size: 24px;
    color: #171618;
}
.cardRight{
    background: #F9FAFE;
    padding: 24px;
}
.img{
    width: 52px;
    height: 52px;
}
.badge{
    font-family: 'Jost';
    font-weight: 600;
    font-size: 14px;
    color: #000000;
    background-color: #FAC55B;
    padding: 10px;
    float: right;
}
.titleCardRightContent{
    font-family: 'Jost';
    font-weight: 700;
    font-size: 24px;
    color: #171618;
}
.descCardRightContent{
    font-family: 'Jost';
    font-weight: 400;
    font-size: 14px;
    color: #5B5A59;
}
.buttonCardRight,.buttonCardRight:hover{
    background: #FFFFFF;
    border: 1px solid #E3E3E3;
    border-radius: 5px;
    font-family: 'Jost';
    font-weight: 500;
    font-size: 16px;
    color: #0F0A9B;
}
@media (max-width: 575.98px) { 
    .cardRight{
        margin-top: 20px;
    }
    .tabsActive,.tabsActive:hover,.tabsNonActive,.tabsNonActive:hover{
        font-size: 13px;
    }
    .colTabs{
        border-right: none !important;
        border-bottom: 1px #0F0A9B solid;
        display: flex ;
        margin-bottom: 20px;
    }
    .colTabsLeft{
        border-left: none !important;
    }
 }