.container{
    margin-top: 100px;
    background: #10099F;
}
.textTitle{
    font-family: 'Jost';
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    margin: 0;
}
.textSubTitle{
    font-family: 'Jost';
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    margin: 0px;
}
.gapText{
    height: 45px;
}
.wrapperContent{
    padding: 50px 0px;
}
.wrapperButton{
    align-items: center;
    align-self: center;
    text-align: right !important;
}
.button,.button:hover{
    background: #0AFFB9;
    color: #000;
    border: none !important;
    padding: 5px 20px;
}