.navbar{
    height: 57px !important;
}
.navbarBrand{
    background: #10099F;
}
.line{
    height:20px!important;
    background: #10099F;
    margin-bottom:-30px
}
.imgLogo{
    width: 98px;
    height: 57px;
}
.link{
    text-decoration: none !important;
}
.textLink{
    font-family: 'Jost';
    font-weight: 500;
    color: #5A5B5E !important;
}
.icon{
    width: 28px;
    height: 28px;
    margin-left: -5px;
}
.title{
    font-family: 'Jost';
    font-weight: 700;
    font-size: 16px;
    color: #171618;
    margin: 0;
}
.textDesc{
    font-family: 'Jost';
    font-weight: 400;
    font-size: 14px;
    color: #5B5A59;
}