.container{
    z-index: -99 !important;
    /* height: 300px; */
    background: #10099F;
}
.imgLogo{
    width: 173px;
    height: 100px;
}
.textTitle{
    font-family: 'Jost';
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF;
}
.textSubTitle{
    font-family: 'Jost';
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 0px;
}
.gapText{
    height: 45px;
}
.wrapperContent{
    padding-top: 150px;
}