/* Header */
.header{
    background-image: url('../../assets/images/bgHeader.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -20px;
    margin-top: -40px;
}
.contentHeader{
    font-family: 'Jost';
}
.gap120{
 height: 150px;   
}
.wrapperTagline{
    margin-top: 150px;
    padding: 8px 20px;
    background-color: #fff;
}
.textTagline{
    color: #0F0A9B;
    font-weight: 700;
    font-size: 50px;
}
.textDescTagline{
    padding: 32px 0;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
}
.ctaHeader,.ctaHeader:hover{
    border: none !important;
    background: #2DD2C0;
    border-radius: 5px;
    transition: 0.5;
    padding: 7px 20px;
    color: #fff;
    text-decoration: none !important;
}
.ctaHeader:hover,.ctaHeader:active:focus{
    border: none !important;
    background: #2dac9d;
    border-radius: 5px;
}

/* Last Header */
.cardHeader{
    position: relative;
    align-items: center;
    background-color: #fff;
    padding:36px 50px; 
    z-index: 99;
    margin-bottom: -100px;
}
.textTitleCard{
    color: #171618;
    font-size: 24px;
}
.textSubTitleCard{
    color: #5B5A59;
    font-size: 16px;
}
.formSeacrh,.formSeacrh:focus{
    margin-left: 50px !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-radius: 0px;
     border: 1px solid #E9E9E9;
     padding: 5px 0px;
     font-family: 'Jost';
     background-color: #fff;
    border-color: none !important;
    outline: 0 !important;
    box-shadow:none !important;
}
.buttonSeacrh{
    margin-top: -19px;
    width: 54px;
    height: 54px;
    background: #0F0A9B;
    border-radius: 5px;
    border: none;
}
.buttonSeacrh:hover{
    width: 54px;
    height: 54px;
    background: #19148f;
    border-radius: 5px;
}