.container{
    font-family: 'Jost';
    margin-top: 15px;
    text-align: center;
}
.containerContent{
    margin-top: 60px;
}
.lineContent{
    border-left: 1px solid #E2E2E2;
    height: 100%;
    width: 1px;
    margin-top: 50px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-right: -20px;
}
.chevron{
    width: 28px;
    height: 28px;
    border: 1px solid #E9E9E9;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.breadcrumb{
    margin-left: -70px;
}
.textBreadcrumb{
    font-weight: 500;
    font-size: 16px;
    color: #171618;
    margin-top: 2px;
}
.textTitle{
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    color: #171618;
}
.containerLine{
    border: 1px solid #E9E9E9;
}
.title{
    font-weight: 700;
    font-size: 28px;
    color: #171618;
    margin-bottom: 30px;
}
.textNumber{
    font-weight: 700;
    font-size: 24px;
    color: #171618;
}
.elipse{
    margin-right: 10px;
    height: 40px;
    width: 40px;
    background: #FAFAFA;
    border: 1px solid #E9E9E9;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    display: flex;
}
.textContent{
    font-weight: 500;
    font-size: 16px;
    color: #171618;
}
.wrapperCardContent{
    display: flex;
    text-align: left !important;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    border: 1px solid #E9E9E9;
    border-radius: 5px;
    padding: 12px;
    margin-top: 10px;
}
.checkbox{
    height: 20px;
    width: 20px;
    background-color: #F5F5F5;
    border-radius: 100%;
}
.wrapperCardRight{
    background: #F9FAFE;
    border-radius: 5px;
    padding: 20px;
}
.titleCardRight{
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.iconRight{
    width: 28px;
    height: 28px;
}
.cardRight{
    background: #FFFFFF;
    border: 1px solid #E9E9E9;
    border-radius: 5px;
    padding: 14px 16px;
}
.cardRightNonActive{
    opacity: 0.2;
    background: #FFFFFF;
    border: 1px solid #E9E9E9;
    border-radius: 5px;
    padding: 14px 16px;
}
.textTitleCardRight{
    font-weight: 700;
    font-size: 18px;
    color: #171618;
}
.textSubTitleCardRight{
    font-weight: 400;
    font-size: 14px;
    color: #5B5A59;
}
@media (max-width: 575.98px) { 
    .textBreadcrumb{
        display: none;
    }
    .container{
justify-content: center;
    }
}